name: GitHub Actions Demo
on: 
  push:
    branches: [main]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '15 6 * * 0'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Output event name
      run: echo "Event that triggered this workflow: ${{ github.event_name }}"

    - name: Output branch name
      run: echo "Current branch: $(git branch --show-current)"

    - name: List all files
      run: |
        echo "Listing all files in the repository:"
        ls -R
